.App {
  text-align: center;
  max-width: 720px;
  margin: auto;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 20px;
}

.App-header {
  background-color: #3498db;
  padding: 20px;
  color: white;
  margin-bottom: 10px;
}

.App-title {
  font-size: 1.5em;
  display: inline;
}

.app-subtitle {
  font-size: 1.0em;
  display: inline;
  padding-left: 5px;
}

.App-intro {
  font-size: large;
}

.task-box{
  display: inline;
}

.task-dlt-btn{
  color:red;
  text-decoration: none;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
